.container {

  display: flex;
  align-items: center;
}
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  /*box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);*/
  padding: 0.5rem;
  border-radius: 99px;

}

.tabs > * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 180px;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: #286722;
  transition: 0.15s ease-in;
}

/*input[type="radio"] {*/
/*  &:checked {*/
/*    & + label {*/
/*      color: #ffffff;*/
/*    }*/
/*  }*/
/*}*/

input[type="radio"]:checked + label {
  color: #ffffff;
}

input[id="personal"]:checked ~ .glider {
  transform: translateX(0);
  color: #ffffff;
}

/* Apply styles for other tabs when checked */
input[id="nextofkin"]:checked ~ .glider {
  transform: translateX(100%);
}

input[id="bankandcard"]:checked ~ .glider {
  transform: translateX(200%);
}

input[id="changepassword"]:checked ~ .glider {
  transform: translateX(300%);
}

/*input[id="personal"] {*/
/*  &:checked {*/
/*    & ~ .glider {*/
/*      color: #ffffff;*/
/*      transform: translateX(0);*/
/*    }*/
/*  }*/
/*}*/

/*input[id="nextofkin"] {*/
/*  &:checked {*/
/*    & ~ .glider {*/
/*      transform: translateX(100%);*/
/*    }*/
/*  }*/
/*}*/

/*input[id="bankandcard"] {*/
/*  &:checked {*/
/*    & ~ .glider {*/
/*      transform: translateX(200%);*/
/*    }*/
/*  }*/
/*}*/

/*input[id="changepassword"] {*/
/*  &:checked {*/
/*    & ~ .glider {*/
/*      transform: translateX(300%);*/
/*    }*/
/*  }*/
/*}*/

.glider {
  position: absolute;
  display: flex;
  height: 40px;
  padding: 0 0.2rem;
  width: 180px;
  background-color: #20996B;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  /*.tabs {*/
  /*  transform: scale(0.6);*/
  /*}*/
}

@media (max-width: 768px) {
  .tab {
    width: 150px !important;
    font-size: 0.65rem !important;
  }
  .glider {
    width: 150px!important;
  }
}

@media (max-width: 540px) {
  .tab {
    width: 115px !important;
    font-size: 0.55rem !important;
    height: 17px !important;
  }
  .glider {
    width: 115px!important;
    height: 20px !important;
  }
}

@media (max-width: 390px){
  .tab {
    width: 90px !important;
    font-size: 0.45rem !important;
    height: 17px !important;
  }
  .glider {
    width: 90px !important;
    height: 17px !important;
  }
}
