.navbar {
    box-shadow: 0 4px 18px 0 #00000014;
}

.contactform {
    box-shadow: 0 4px 26px 0 rgba(66, 71, 76, 0.08);
}

.projectCard {
    box-shadow: 0 4px 26px 0 #42474C14;
}

.featuredTab {
    box-shadow: 0px 4px 18px 0px #42474C1A;
}

.toolTip {
    box-shadow: 0px 4px 26px 0px #42474C1F;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white; /* Adjust the color as needed */
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.featuredProperty {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(296px,1fr));
    padding: 3rem 0 1.5rem;
    justify-items: center;
}

.featuredProperty-lg {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 3rem 0;
}

.linearGradient {
    background: rgb(219,255,214);
    background: linear-gradient(90deg, rgba(219,255,214,1) 2%, rgba(255,255,255,0.7539609593837535) 36%, rgba(235,255,233,1) 64%, rgba(231,255,229,1) 77%, rgba(248,255,248,0.625109418767507) 89%, rgba(219,255,214,1) 100%);
    margin: 0;
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {
    box-shadow: 0px 0px 2px 0px #00000033;
    box-shadow: 0px 2px 10px 0px #0000001A;
}

.howItWork {
    border-radius: 12px;
}

.steps:hover div span, .stepBrowser:hover div span, .stepChoose:hover div span, .stepMonitor:hover div span, .stepDeal:hover div span {
    background-color: #3CB98A
}

.steps:hover div h1, .stepBrowser:hover div h1, .stepChoose:hover div h1, .stepMonitor:hover div h1, .stepDeal:hover div h1 {
    color: black;
}

.navbarshadow {
    box-shadow: 0px 2px 4px 0px rgba(15, 34, 58, 0.12);
}

.dashboardcard {
    box-shadow: 0px 1px 2px 0px #38414A26;
}

.slick-active  {
    padding: 0 15px !important; /* Adjust the spacing as needed */
}

.slick-list {
    margin: 0px 20px !important;
}

.slick-prev, .slick-next {
    height: 35px !important;
    width: 35px !important;
}

.property-card {
    width: 280px;
}

.property-badge {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.horizontal-to-vertical {
    transform: rotate(90deg);
}

.customerCard {
    box-shadow: 0px 4px 26px 0px #42474C14;
}

@media (min-width: 1024px) {
    .slick-active {
        padding: 0 6px !important;
    }
}
@media (max-width: 1024px) {
    .abstract {
        height: 600px !important;
    }
}

.input-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

.input-custom-label {
    color: #B5BBC2;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: auto;
    user-select: none;
}

.input-custom-input {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: #B5BBC2;
    box-sizing: border-box;
    cursor: text;
    background-color: white;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.custom-input {
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 8.5px 7px;
}

fieldset {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: #B5BBC2;
}

.css-14lo706 {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 100%;
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    white-space: nowrap;
}
.css-14lo706 > span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}



.input-container:focus-within .input-custom-input-focus .MuiOutlinedInput-notchedOutline {
    border-color: #20996B;
    border-width: 2px;
}

.input-container:focus-within .input-focus {
    color: #20996B;
    font-weight: bold;
}

